/Methods/nbproject/private/
/Methods/build/
/Classes/nbproject/private/
/Classes/build/
/Inheritance/nbproject/private/
/Inheritance/build/
/Abstract class/nbproject/private/
/Abstract classes/nbproject/private/
/Abstract classes/build/
/Interfaces/nbproject/private/
/Interfaces/build/
/Inner class/nbproject/private/
/Inner class/build/
